fastapi==0.115.4
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.28
langchain-experimental==0.3.3
langchain-openai==0.2.14
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langsmith==0.1.142
pinecone==6.0.0rc2
streamlit==1.40.1
streamlit-chat==0.1.1
uvicorn==0.32.0